root { 
    display: block;
}

body {
    background-color: darkolivegreen;
}

.card {
    cursor: pointer;
    position: absolute;
}

.jogador_horizontal {
    width: 96px;
    height:600px;
    float:left;	
    top:150px;
    position: absolute;
}

.jogador_horizontal.esquerda{
    left: 0;
}

.jogador_horizontal.direita {
    left: 704px;
}

.jogador_vertical {
    left: 241px;
    position: absolute;
    width: 305px;
}

.jogador_vertical.topo {
    top: 0px;
}

.jogador_vertical.baixo {
    top: 504px;
}

.mesa{
    background-color: red;
    height: 400px;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 600px;
}

.container{
    margin: 0 auto;
    position: relative;
    height: 600px;
    width: 800px;
}

.jogador_horizontal.esquerda .card{
    margin-bottom: -50px
}

.jogador_horizontal.direita .card{
    margin-bottom: -50px
}

.jogador_vertical.baixo .card{
    margin-right: -50px
}

.jogador_vertical.topo .card{
    margin-right: -50px
}

