root { 
    display: block;
}

body {
    background-color: darkolivegreen;
}

.card {
    cursor: pointer;
}

.jogador-esquerda{
    width: 100px;
    height:600px;	
    float:left;	
    vertical-align:middle;	
    margin-top:150px;
}

.jogador-direita{
    width: 150px;
    height:600px;
    float:left;
    vertical-align:middle;
    margin-top:150px;
}

.jogador-cima{
    width: 600px;
    height:100px;
    float:left;
    text-align:center;	
}

.centro{
    width: 600px;
    height:600px;
    float:left;
}

.jogador-baixo{
    width: 600px;
    height:100px;
    float:left;
    text-align:center;	
}

.mesa{
    width: 600px;
    height:400px;
    float:left;
    background-color: red;
}

.container{
    width:960px;
}

#card-baixo{
    margin-right: -50px
}

#card-cima{
    margin-right: -50px
}

#card-esquerda{
    margin-bottom: -50px
}

#card-direita{
    margin-bottom: -50px
}

