<div id="logo_container"></div>
<div class="container">

  <div class="mesa" id="table">

		<% @jogador1.cartas.each do |c| %>
			<%= image_tag "cards/#{c.nome_arquivo}.png", :style => "display:none", :class => "card bottom" %>
		<% end %>

		<% @jogador2.cartas.each do |c| %>
			<%= image_tag "cards/b1fh.png", :style => "display:none", :class => "card left" %>
		<% end %>

		<% @jogador3.cartas.each do |c| %>
			<%= image_tag "cards/b1fv.png", :style => "display:none", :class => "card top" %>
		<% end %>

		<% @jogador4.cartas.each do |c| %>
			<%= image_tag "cards/b1fh.png", :style => "display:none", :class => "card right" %>
		<% end %>

  </div>

  <div class="jogador_horizontal esquerda" id="leftDeck"></div>
  <div class="jogador_horizontal direita" id="rightDeck"></div>
  <div class="jogador_vertical topo" id="topDeck"></div>
  <div class="jogador_vertical baixo" id="bottomDeck"></div>
</div>

<script type="text/javascript">
	$$('.bottom').each(
		function(el) {
			new Draggable(el);
	  })  
  
  Droppables.add('table', { 
    accept: 'card',
		hoverclass: 'hover'
  });  
</script>
